homeassistant_name: HOMEASSISTANT_NAME
homeassistant_latitude: 0
homeassistant_longitude: 0
http_password: HTTP_PASSWORD
nest_client_id: NEST_CLIENT_ID
nest_secret: NEST_SECRET
mqtt_username: MQTT_USERNAME
mqtt_password: MQTT_PASSWORD
