homeassistant_name: HOMEASSISTANT_NAME
homeassistant_latitude: 0
homeassistant_longitude: 0
http_password: HTTP_PASSWORD
nest_client_id: NEST_CLIENT_ID
nest_secret: NEST_SECRET
mqtt_username: MQTT_USERNAME
mqtt_password: MQTT_PASSWORD
dyson_username: DYSON_USERNAME
dyson_password: DYSON_PASSWORD
dyson_language: GB
dyson_device_id_1: DYSON_DEVICE_ID_1
dyson_device_ip_1: DYSON_DEVICE_IP_1
graphite_ip: XXX.XXX.XXX.XXX
righteye_ip: RIGHTEYE_IP
righteye_hostname: RIGHTEYE_HOSTNAME
lefteye_ip: LEFTEYE_IP
lefteye_hostname: LEFTEYE_HOSTNAME